/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "./../assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

$main-color: #294a2b;

html {
  background: $main-color;
  body {
    background: transparent;
  }
  div, span, button, p, h1, h2, h3, h4, h5, h6, input {
    &:active, &:focus {
      outline: 0 !important;
    }
  }

  .text-white {
    color: white;
  }

  .text-black {
    color: black;
  }
  .text-bold {
    font-weight: bold;
  }
  .text-uppercase {
    text-transform: uppercase;
  }
  .text-condensed {
    font-stretch: semi-condensed;
  }

  .margin-0 {
    margin: 0;
  }

  .margin-20 {
    margin: 20px;
  }

  .margin-top-10 {
    margin-top: 10px;
  }

  .margin-top-15 {
    margin-top: 15px;
  }

  .margin-top-20 {
    margin-top: 20px;
  }

  .margin-bottom-20 {
    margin-bottom: 20px;
  }

  .margin-left-20 {
    margin-left: 20px;
  }

  .margin-right-20 {
    margin-right: 20px;
  }

  .margin-top-40 {
    margin-top: 40px;
  }

  .padding-0 {
    padding: 0;
  }

  .padding-10 {
    padding: 10px;
  }

  .padding-15 {
    padding: 15px;
  }

  .padding-20 {
    padding: 20px;
  }

  .padding-top-20 {
    padding-top: 20px;
  }

  .padding-bottom-20 {
    padding-bottom: 20px;
  }

  .padding-left-20 {
    padding-left: 20px;
  }

  .padding-right-20 {
    padding-right: 20px;
  }

  .padding-top-40 {
    padding-top: 40px;
  }

  .full-width {
    width: 100%;
  }
  .half-width {
    width: 50%;
  }
  .float-left {
    float: left;
  }
  .float-right {
    float: right;
  }
  .position-absolute {
    position: absolute;
  }
  .position-relative {
    position: relative;
  }
  .table-none-border {
    border: 0;
    th, td {
      border: 0 !important;
    }
  }
  .table-text-center {
    th, td {
      text-align: center;
    }
  }
}

//----------------------------------------------------------------------------------------------------------------------------------------------------------------

.background-shadow {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: url("./../assets/images/bg.jpg");
  -moz-box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.7);
}

.shadow-effect-bottom {
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.number-pan-wrapper {
  padding-left: 5px;
  padding-right: 5px;

  .number-pan {
    padding: 10px;
    display: inline-block;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -moz-box-shadow: inset 5px 5px 15px rgba(255, 255, 255, .4), inset -5px -5px 15px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 5px 5px 15px rgba(255, 255, 255, .4), inset -5px -5px 15px rgba(0, 0, 0, .4);
    box-shadow: inset 5px 5px 15px rgba(255, 255, 255, .4), inset -5px -5px 15px rgba(0, 0, 0, .4);

    .num {
      background: white;
      border: 2px solid black;
      font-size: 50px;
      font-weight: bold;
      text-align: center;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      -moz-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.7);
      -webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.7);
      box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.7);
    }
  }
  hr {
    width: calc(100% - 10px);
    position: absolute;
    top: 20%;
    border-top: 2px solid rgba(0, 0, 0, 0.3);
  }
  .game-title {
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 20px;
    font-stretch: semi-condensed;
  }
}

//----------------------------------------------------------------------------------------------------------------------------------------------------------------

header {
  position: fixed;
  width: 100%;
  z-index: 10000;

  .navbar-default {
    box-shadow: 0 5px 100px black;
    background: black;
    padding: 10px 0;
    margin-bottom: 0;
    border: 0;

    .navbar-toggle {
      color: white;
      background: #39501a;
      border: 0;
      font-size: 24px;
      padding: 5px;
      margin: 5px 10px;
      padding-bottom: 0;
      cursor: pointer;

      &:focus, &:active, &:hover {
        background: #39501a;
      }

      .icon-bar {
        background: white;
      }
    }

    .navbar-brand {
      padding: 0;
      color: white !important;
      position: absolute;
      z-index: 100;

      img {
        margin: 0 10px;
        width: 50px;
        float: left;
      }
      span {
        margin-top: 15px;
        float: left;
        font-size: 24px;
        font-weight: bold;
      }
    }

  }
  .menu-wrapper {
    .menu-overlay {
      width: 100%;
      height: 100vh;
    }

    .navbar-menu {
      color: $main-color;
      background: white;
      width: 250px;
      position: absolute;
      top: 0;
      height: 100vh;

      .menu-header {
        background: $main-color;
        height: 100px;
      }
      .menu-items {
        -webkit-padding-start: 0;
        list-style-type: none;
        background: white;
        li {
          font-size: 16px;
          padding: 10px;

          a {
            color: #555;
            &.active {
              color: $main-color;
            }
            &:hover {
              text-decoration: none;

            }
            .menu-icon {
              font-size: 22px;
              margin-right: 10px;
            }
            .menu-label {

            }
          }
        }
      }
      .menu-footer {
        position: fixed;
        bottom: 0;
        border-top: 1px solid lightgray;
        width: 250px;
        padding-top: 50px;
      }
    }
  }
  .tabbar {
    background: black;
    text-align: center;
    .tab {
      padding: 5px;
      &.active {
        .tab-icon {
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          width: 100%;
          background: #fddf96; /* Old browsers */
          background: -moz-linear-gradient(top, #fddf96 0%, #be8500 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #fddf96 0%, #be8500 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #fddf96 0%, #be8500 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fddf96', endColorstr='#be8500', GradientType=0);
          color: black;
        }
      }
      .tab-icon {
        padding: 5px 0;
        font-size: xx-large;
        color: white;
      }
      .tab-label {
        padding: 0;
        color: white;
        font-stretch: semi-condensed;
        font-weight: bold;
      }

    }
  }
}

div[ui-view] {
  padding-top: 70px;
  position: relative;
  &.has-footer {
    padding-top: 155px;
  }
}

.home-container {
  .btn {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 100%;
    margin-top: 10px;
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.7);
    border: 1px solid black;
    font-weight: bold;
    font-stretch: semi-condensed;

  }
  .btn-start-game {
    background: #00b100;
    color: white;
    font-size: 24px;
    padding: 1px;
  }
  .btn-recent-results {
    background: #febd00;
    color: black;
    font-size: 16px;
    padding: 6px;
  }
  .team-img {
    margin: auto;
  }
  .vs-txt {
    top: 20%;
    position: absolute;
    width: 100%;
    color: white;
    font-weight: bold;
  }
}

.dashboard-container {

  .sub-menu-item {
    color: white;
    border: 5px solid #004300;
    background: #668f67;
    text-align: center;
    padding: 10px 20px;

    .sub-menu-icon {
      font-size: 70px;
    }

    .sub-menu-title {
      color: white;
    }
  }

}

.play-activity-container {
  .activity-title {
    text-align: center;
    background: black;
    color: white;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .play-activity-legends {
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
  }
  .field-check {
    background: white;
    color: black;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
  }
}

.player-container {
  color: white;
  font-stretch: semi-condensed;
  text-transform: uppercase;

  .player-comment {
    height: calc(100vh - 450px);
    overflow: auto;
    padding-top: 10px;
  }
}

.stats-container {
  .player-avatar {
    width: 40px;
    height: 40px;
    background: black;
    border-radius: 20px;
    float: left;
    margin-right: 10px;
  }
  .player-name {
    background: rgba(0, 0, 0, 0.5);
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-stretch: semi-condensed;
  }
}

.match-container {
  .team-image-wrapper {
    background: black;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    .team-image {
      width: 95%;
      margin: 2px;
    }
  }

  .team-name {
    color: white;
    font-stretch: semi-condensed;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    margin-left: 0px;
    padding: 2px 10px;
    border-radius: 5px;
    width: calc(100% - 50px);
  }
  .between-div {
    margin-top: 10px;
    color: white;
    font-stretch: semi-condensed;
    font-weight: bold;

  }
  .ymd-city {
    font-weight: bold;
    text-align: center;
    color: white;
    font-stretch: semi-condensed;
    margin-top: -15px;
  }
}