<div class="container-fluid dashboard-container">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <div class="container-fluid">
                <div class="row margin-top-10">
                    <div class="col-xs-6 padding-0  " ng-repeat="submenu in vm.submenus track by $index">
                        <div class="sub-menu-item" ng-click="vm.selectSubMenu(submenu.url)">
                            <div class="sub-menu-icon">
                                <span class="glyphicon glyphicon-{{submenu.icon}}"></span>
                            </div>
                            <div class="sub-menu-title">
                                {{submenu.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
</div>
